body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Open Sans', sans-serif;
}

h1
{
    font-size: 28px;
}

h2
{
    font-size: 18px;
}

h3
{
    font-size: 16px;
    font-weight: bold;
}

.page-header > .subtitle
{
    font-size: 16px;
    text-align: center;
    display: block;
}

p, div.details > div.paragraph, div.code-paragraph{
    font-size: 16px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
}

sup {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

p em, div.paragraph em {
    margin-left: -1.5px;
    margin-right: 1.5px;
}

.page-header {
    width: 900px;
    margin: 20px auto 0;
    padding: 17px;

    font-size: 44px;
    text-align: center;
}

.page-header p {
    font-size: 16px;
}

.page-footer {
    color: #222222;
    margin: 0 auto;
    padding: 17px;
    width: 900px;
    text-align: center;
}

.content-root {
    margin: 0 auto;
    padding: 17px;
    width: 900px;
    color: #222222;
}

a {
    color: #0000FF;
}

/* Tabbed div */
div.details[tabcontainer]
{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

div.subsection > div.details
{
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
}

div.details[tabcontainer] > div.tab-container
{
    border-radius: 0px 3px 3px 3px;
    overflow: hidden;
}

div.client-phase div.tab-container
{
    background-color: #dfffdf;
}

div.server-phase div.tab-container
{
    background-color: #e9f3ff;
}

div.details[tabcontainer] > div.tab-selector
{
    display: flex;
    flex-direction: row;
}

div.details[tabcontainer] > div.tab-selector > input
{
    display: none;
}

div.details[tabcontainer] > div.tab-selector > label
{
    font-size: 14px;
    margin-right: 3px;
    padding: 5px 10px;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;

    border-bottom: 2px solid rgba(0,0,0,0.1);

    cursor: pointer;
}

div.client-phase div.details[tabcontainer] > div.tab-selector > label:hover,
div.client-phase div.details[tabcontainer] > div.tab-selector > input:checked + label
{
    background-color: #dfffdf;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 2px solid rgba(0,0,0,0.0);
}

div.server-phase div.details[tabcontainer] > div.tab-selector > label:hover,
div.server-phase div.details[tabcontainer] > div.tab-selector > input:checked + label
{
    background-color: #e9f3ff;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 2px solid rgba(0,0,0,0.0);
}

div.details[tabcontainer] div.tab-content
{
    display: none;
    margin: 16px;
}

div.details[tabcontainer] div.tab-content.visible
{
    display: block;
}

/* Code block formatting */

code, div.code {
    margin: 8px 0;
    border: 1px solid #888888;
    padding: 8px 13px;
    box-sizing: border-box;
    width: 100%;
    background-color: #eeeeee;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Ubuntu Mono', monospace;
    color: #222222;
    display: block;
}

code .clickdetail, .code .clickdetail {
    margin: 5px -13px;
    border-left: none;
    border-right: none;
}

code > pre, .code > pre {
    margin: 0;
}

span[tab]::after {
    content: "\00a0\00a0\00a0\00a0"
}

span[tab__]::after {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0"
}

span[tab____]::after {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0"
}

span[tab______]::after {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0"
}

span.mono
{
    background-color: rgba(0,0,0,0.1);
    font-family: 'Ubuntu Mono', monospace;
    color: #222222;
    padding: 2px;
}

span.mono > a, a > span.mono
{
    color: #000099;
}

span.mono:hover > a, a:hover > span.mono, code [clickdetail]:hover, div.code [clickdetail]:hover {
    background-color: rgba(0,0,0,0.15);
}

div.code > input[expandtoggle] {
    float: right;
    margin-top: -3px;
    height: 22px;
}

div.code-paragraph > div.details {
    margin-left: 17px;
    margin-right: 17px;
}

/* Tooltip formatting */
div.tooltip {
    position: absolute;

    margin: 0px;
    padding: 5px;

    font-family: 'Open Sans', sans-serif;
    line-height: 14px;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(70, 70, 70);
    color: white;

    z-index: 100;
    display: block;

    pointer-events: none;

    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

code [tooltip], .code [tooltip] {
    margin: -1px -2px;
    padding: 1px 2px;
    background-color: rgba(0,0,0, 0.1);
    text-decoration: underline;
}

/* Formatting for protocol phase container */
.protocol-phase {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.protocol-phase.collapsed {
    padding-bottom: 10px;
}

.protocol-phase > h1.phase-name {
    margin: 0;
    padding: 0;
    line-height: 36px;
}

.collapsed [expandtoggle] > span.expand {
    display: block;
}

[expandtoggle] > span.expand {
    display: none;
}

.collapsed [expandtoggle] > span.shrink {
    display: none;
}

[expandtoggle] > span.shrink {
    display: block;
}

.subsection > h3 > span.expand, .subsection > h3 > span.shrink {
    float: left;
    width: 16px;
    height: 16px;
    line-height:16px;
    font-size: 16px;
    margin-top: 2px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #a0a0a0;
    color: #888888;
}

.protocol-phase > h1.phase-name > span.expand, h1.phase-name span.shrink {
    float: right;
    width: 20px;
    height: 20px;
    line-height:20px;
    font-size: 20px;
    margin-top: 7px;
    margin-right: 0px;
    text-align: center;
    border: 1px solid #a0a0a0;
    color: #888888;
}

.protocol-phase > .details, .subsection {
    overflow: hidden;
}

.client-phase {
    background-color: #c8fac8;
    border: 1px solid #a9dba9;
}

.client-phase.collapsed:hover{
    border: 1px solid #459645;
}

.server-phase {
    background-color: #dbecff;
    border: 1px solid #99c9ff;
}

.server-phase.collapsed:hover {
    border: 1px solid #4a6e96;
}

/* For handling toggle expansion */
.expandable {
    overflow: hidden;
}

[expandtoggle] {
    cursor: pointer;
}

input[expandtoggle] {
    display: block;
    margin: 3px 0px;
}

.short {
    transition-property: opacity, margin, padding;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    height: 0;
    box-sizing: border-box;
    
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

div.collapsed > .short {
    transition-property: opacity, margin, padding;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    height: auto;
    opacity: 1;
    box-sizing: border-box;
}

.details
{
    display: block;
}

.details.no-indent
{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

div.collapsed > .details {
    display: none;
}

code [clickdetail], .code [clickdetail] {
    margin: -1px -2px;
    padding: 1px 2px;
    background-color: rgba(0,0,0, 0.1);
    text-decoration: underline;
    cursor: pointer;
}

.clickdetail
{
    display: none;
    font-size: 14px;
    padding: 7px;
    font-family: 'Open Sans', sans-serif;

    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    border: 1px solid #AAAAAA;

    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}