body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 800px;
    margin: 20px auto 0;
    padding: 17px;
    background-color: #f8f8f8;

    font-size: 44px;
    text-align: center;
}

.footer {
    color: #222222;
    margin: 0 auto;
    padding: 17px;
    width: 800px;
}

.content-root {
    margin: 20px auto;
    padding: 17px;
    width: 800px;
    color: #222222;
    background-color: #f8f8f8;
}

code {
    border: 1px solid #888888;
    padding: 8px 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: #eeeeee;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Ubuntu Mono', monospace;
    color: #222222;
}

code.python::before {
    content: "# Python 3<br>"
}

code.javascript::before {
    content: "// JavaScript<br>"
}

code.json {
}

code.hex::before {
    content: "Binary Blob:<br>"
}

code.base64::before {
    content: "WebSafe Base64:<br>"
}

div.small-toggle {

}

div.small-toggle {
    
}